{% extends 'base.html' %}
{% load static %}


{% block content_formatted %}
{{ tosdata|json_script:"tosdata" }}
{{ ranges|json_script:"ranges" }}
{{ userdata|json_script:"userdata"}}

    <div class="row">
    <div class="col-12">
        <h2>Create Number</h2>
        <p>{{description |safe}}</p>
    </div>
</div>

{% if form.errors %}
<div class="row">
    <div class="col-12">
        <div role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <form method="POST" novalidate id="edit-form">
            {% csrf_token %}
            
            {% for field in form.visible_fields %}
                <div class="row mb-3">
                    <div class="col-3 form-label">
                        <label for="{{field.auto_id}}">{{field.label}}</label>
                        
                    </div>
                    <div class="col-9 form-field">
                        {{ field }}{% if field.help_text %} <span title="{{ field.help_text }}"><i class="fa fa-info-circle" aria-hidden="true"></i></span> {% endif %}
                        {% if field.errors %}
                            <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
                        
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/number" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="{% static 'js/numberform.js' %}"></script>

{% endblock content_formatted %}

