{% extends 'base.html' %}
{% load static %}

{% block content_formatted %}
<div class="row">
    <div class="col-12">
        <h2>
        {% if title %} 
            {{title}}
        {% endif %}
        </h2>

        {% if description %} 
            <p>{{description}}</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <form id="searchform">
        <div class="col-9">
            <input type="text" id="search" 
                class="wide"
                oninput="searchPhonebook('phonebook')" 
                placeholder="Search the phonebook...">
        </div>
        <div class="col-3">
            <input type="reset" class="wide" value="Clear Search">
        </div>
        <div class="col-12">
            <table id="phonebook" class="phonebook sortable">
                <tr data-sort-method='none'>
                    <th>Number</th>
                    <th>Label</th>
                    <th>Type</th>
                    <th data-sort-method='none'>Modify</th>
                </tr>
                {% for number in numbers %}
                <tr>
                    <td><div class="col-12 center">{{ number.value }}</div></td>
                    <td><div class="col-12">{{ number.label }}</div></td>
                    <td><div class="col-12 center">{{ number.typeofservice }}</div></td>
                    <td class="inline-menu">
                        <div class="col-4  center">
                            <a href="/number/info/{{number.value}}"" id="{{number.value}}">
                                <i class="fa-solid fa-gear"></i> Details
                            </a>
                        </div>
                        <div class="col-4  center">
                            <a href="/number/edit/{{number.value}}">
                                <i class="fa-solid fa-pen"></i> Modify
                            </a>
                        </div>
                        <div class="col-4  center">
                            <a href="/number/delete/{{number.value}}">
                                <i class="fa-solid fa-trash"></i> Delete
                            </a>
                        </div>
                    </td>
    </tr>
    {% endfor %}

</table> 

<script src="{% static 'js/search.js' %}"></script>
<script>
    new Tablesort(document.getElementById('phonebook'));
</script>
{% endblock %}
