{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/search.js' %}"></script>
<input type="text" id="search" onkeyup="searchPhonebook('Numbers')" placeholder="Search my numbers...">
<br><br>

<table id="Numbers" class="phonebook">
    <tr>
        <th>Number</th>
        <th>Label</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    {% for number in numbers %}
    <tr>
      <td>{{ number.value }}</td>
      <td>{{ number.label }}</td>
      <td>{{ number.typeofservice }}</td>
      <td>
        <a href="/number/info/{{number.value}}"" id="{{number.value}}"><i class="fa-solid fa-gear"> </i>Details</a> |  
        <a href="/number/edit/{{number.value}}">  <i class="fa-solid fa-pen"> </i>Edit</a> |  
        <a href="/number/delete/{{number.value}}"> <i class="fa-solid fa-trash"> </i>Delete</a> 
      </td>
    </tr>
    {% endfor %}

  </table> 

{% endblock %}
