{% extends 'base.html' %}
{% load static %}

{% block content_formatted %}
<div class="row">
    <div class="col-12">
        <h2>What is this then?</h2>
        <p>It's a phone and number management system for <a href="https://emfcamp.org">Electromagnetic Field</a>.</p>
        <p>You can find more information and help on the for <a href="https://wiki.emfcamp.org/2024/wiki/Phones">EMF Wiki</a>.</p>
	<p>NumberWang is a reference to this <a href="https://en.wikipedia.org/wiki/Mitchell_and_Webb">Mitchell and Webb</a> sketch:</p>
    </div>
    <div class="col-12">
        <iframe class=video src="https://www.youtube.com/embed/0obMRztklqU"></iframe>
    </div>
    </div>
</div>
{% endblock %}
