{% extends 'base.html' %}

{% block content %}
		<div class="buttongrid">
		<div class="row">
			<div class="col-12">
				<div class="col-4"><a href="/operator/number/create"><i class="fa-solid fa-pen fa-2xl"></i><br>Create new Number</a> </div>
				<div class="col-4"><a href="/operator/number"><i class="fa-solid fa-list fa-2xl"></i><br>Manage Numbers</a></div>
				<div class="col-4"><a href="/operator/user/block"><i class="fa-solid fa-ban fa-2xl"></i><br>User Account Blocking</a></div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="col-4"><a href="/operator/groups"><i class="fa-solid fa-users fa-2xl"></i><br>Groups</a> </div>
				<div class="col-4"><a href="/operator/reservations"><i class="fa-solid fa-book fa-2xl"></i><br>Reservations</a> </div>

			</div>
		</div>
	</div>

{% endblock %}
