{% extends "base.html" %}
{% block content %}
<h2 class="font-weight-light my-4 text-center">Change Your Password</h2>
    {% if user_form.errors %}
        <div role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="reset">Update Password</button>
        </form>
    </div>
{% endblock content %}
