{% extends "base.html" %}
{% block content_formatted %}
<div class="row">
    <div class="col-12">
        <h2> Update Profile</h2>
    </div>
</div>

{% if user_form.errors %}
    <div class="row">
        <div class="col-12">
            <div role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-12">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in user_form.visible_fields %}
                <div class="col-3 form-label">{{ field.label }}</div>
                <div class="col-9 form-field">{{ field }}</div>
            {% endfor %}

            {% for hidden in user_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="col-3"></div>
            <div class="col-9"><button type="submit">Save Changes</button></div>

            <div class="col-3"></div>
            <div class="col-9">
                <p><a href="{% url 'password_change' %}">Change Password</a></p>
            </div>
            <div class="col-3"></div>
            <div class="col-9">
                <p><a href="{% url 'jambonz' %}">Create Jambonz Account </a></p>
            </div>
        </form>
    </div>
</div>
{% endblock content_formatted %}