<dl>
    <dt>Number:</dt>
        <dd>{{number.value}}</dd>
    <dt>{{number.typeofservice.param_name}}:</dt>
        <dd>{{number.param}}</dd>
    <dt>System PIN:</dt>
        <dd>0000</dd>
</dl>

<p>To use your DECT phone, please follow these instructions carefully.</p>
</p>
<h3>Register your handset on the network</h3>
<ol>
    <li>Go to "Register Handset" or similar in your handset's menu.
        <ul>
            <li>For example in the Gigaset A170 its Menu> Settings > Handset > Register HS</li>
        </ul>
    </li>
    <li>If asked, enter the System PIN: 0000</li>
    <li>You may see "Handset Registered" or similar.</li>
</ol>

<div class="alert">
    <p class="title">IMPORTANT: DO NOT attemt to register the handset again</p>
    <p>You must now do the following test before continuing</p>
</div>


<h3>Test your Handset's registered to our DECT network with a temporary number.</h3>
<ol>
    <li>Dial 90201
        <ul><li>Beware: This first call may take a whole 30s to connect</li></ul>
    </li>
    
    <li>If the call connects:
        <ul>
            <li>You should hear your temporary number read back at you.</li>
            <li>Continue to the activation section below</li>
        </ul>
    </li>

    <li>If the call fails:
        <ul>
            <li>Dial 90201 again, and wait 30 whole seconds for the call to connect.</li>
            <li>If that still doesn't work, please wait 30 minutes and then try the test call again.</li>
            <li>If the test call does not work after 30 minutes, please visit <a href="https://map.emfcamp.org/#20.8/52.0398821/-2.3768807">the Phones tent (POC)</a> 0900-1800 and we'll try to help.</li>
        </ul>
    </li>
</ol>

<h3>Activate {{number.value}} on your handset</h3>
<h4>Option 1:</h4>
<ol>
    <li>Dial: 900 {{number.value}} {{number.param}} (this is one continuous number)</li>
    <li>Wait for confirmation that it has been applied successfully</li>
</ol>

<h4>Option 2:</h4>
<ol>
    <li>Dial 900</li>
    <li>When asked, enter your number: {{number.value}}</li>
    <li>When asked, enter your activation code: {{number.param}}</li>
    <li>Wait for confirmation that it has been applied successfuly</li>
</ol>
