<dl>
    <dt>Number:</dt>
        <dd>{{number.value}}</dd>
    <dt>{{number.typeofservice.param_name}}:</dt>
        <dd>{{number.param}}</dd>
</dl>

<h3>Install your SIM Card</h3>
<ol>
    <li>Pick up a SIM card from the shop on site.
    <li>Insert it in your phone
    <li>Wait for your phone to join the phone network named "99942" or "gsm.emf.camp"</li>
</ol>
<p>Your phone should now be connected to our GSM network, but with a temporary number</p>


<h3>How to activate this number on your handset</h3>
<h4>Option 1:</h4>
<ol>
    <li>Dial: 90201 to prove you're on the network. It'll read your temporary number back at you.</li>
    <li>Dial: 900 {{number.value}} {{number.param}} (this is one continuous number)</li>
    <li>Wait for confirmation that it has been applied successfully</li>
</ol>
<h4>Option 2:</h4>
<ol>
    <li>Dial 900</li>
    <li>When asked, enter your number: {{number.value}}</li>
    <li>When asked, enter your activation code: {{number.param}}</li>
    <li>Wait for confirmation that it has been applied successfuly</li>
</ol>