<dl>
    <dt>Number:</dt>
        <dd>{{number.value}}</dd>
    <dt>{{number.typeofservice.param_name}}:</dt>
        <dd>{{number.param}}</dd>
</dl>

<p>When your line line is first connected, you will have a temporary number.</p>

<h3>Activate this number on your handset</h3>
<ol>
    <li>Dial 900</li>
    <li>When asked, enter your number: {{number.value}}</li>
    <li>When asked, enter your activation code: {{number.param}}</li>
    <li>Wait for confirmation that it has been successful</li>
</ol>
<p>Alternatively, you can dial the whole number activation in one go: 900 {{number.value}} {{number.param}}</p>